/* Features */


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-family: monospace;
  font-size: 12px;
}

:root {
  --main-clr: #98bf0a;
  --text-clr: #f4f3f8;
  --bg-clr: #111;
  --btn-hover: #97bf0a;
  --bg-footer:#ffffff0f;

  --linear-bg: linear-gradient(var(--main-clr), transparent);

  --font-size-title: 3rem;
  --font-weight-title: 900;
  --font-weight-p: 700;
  --font-size-p:1.4rem;
  --font-size-link: 1rem;
  --font-weight-link: 500;

  --letter-spacing: 0.01rem;

  --border-rad: 3rem;
  --border-top: 1px solid var(--main-clr);
  --border-left: 5px solid var(--main-clr);

  --transition-btn: 0.4s ease-out;
  --padding-btn: 1rem 8rem;

  --opacity-: 0.8;

  --perspective: 600px;
  --transform-style: preserve-3d;

  --animation-Paino: Paino 10s 0.1 forwards ease-out;
  --animation-scan: scan 9s forwards linear;
  --animation-showLetter: showLetter 2s 0.1s forwards ease-out;
  --animation-showBtn: showBtn 10s 0.1s forwards ease-in;
  --animation-showAbout: showAbout 4s 0.01s infinite ease-in;
  --animation-showParagraph:showParagraph 4s 0.1s forwards ease-out;
  --animation-showChoices:showChoices 4s 1s forwards ease-in;
  --animation-showCard:showCard 4s 1s forwards ease-in;
  --animation-showMenu:showMenu 1s forwards  ease-in;
  
  --height-title: 40vh ;
  
  --scale-btn: 1.1;
  --scale-low:1.05;

}

:root.lightMode {
  --main-clr: #5D3FD3;
  --text-clr: #000;
  --bg-clr: #f1f1f8;
  --btn-hover: #5D2FD3;

}

body {
  width: 100%;
  height: auto;
  background: var(--bg-clr);
}




/* 
title
*/
.title {
  height: var(--height-title);
  display: flex;
  justify-content: center;
  align-items: center;

}


.title h2 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  color: var(--main-clr);
}


/* Mode */
.mode {
  position: absolute;
  top: -3%;
  right: 0;
  cursor: pointer;
}



/* Head */

#MainMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  z-index: 1000;

}

#MainMenu #Menu {
  cursor: pointer;
  position: fixed;
  bottom: 50%;
  right: 0;
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-p);
  color: var(--text-clr);
  
}

#MainMenu #ContentMenu{
  animation: var(--animation-showMenu);
  transition: var(--transition-btn);
  perspective: var(--perspective);
 background: var(--text-clr);
 position: fixed;
 bottom: 13%;
 right: 5rem;
 height:50vh;
 width: 80%;
 box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.257) ;
 border-radius: var(--border-rad);
 text-align: center;
 display: none;
 
}

#MainMenu #ContentMenu a{
  display: block;
  transform-style: var(--transform-style);
 padding: 1rem 2rem;
  font-weight: var(--font-weight-p);
  font-size: var(--font-size-p);
  color: var(--bg-clr);
  transition: var(--transition-btn);

}

#MainMenu #ContentMenu a:hover {
  color: var(--main-clr);
  scale: var(--scale-btn);
}


/* scrolY */
::-webkit-scrollbar {
  background-color: transparent;

}



/*Social Icons*/

.social-icons .instagram-icon:hover,
.social-icons .github-icon:hover,
.social-icons .linkedin-icon:hover,
.ChangeSemester button:hover
,footer .SocialIcons .instagram-icon:hover
,footer .SocialIcons .github-icon:hover
,footer .SocialIcons .linkedin-icon:hover {
  scale: var(--scale-btn);
}


.social-icons .instagram-icon 
,.SocialIcons .instagram-icon {
  color: #E1306C;

}

.social-icons .github-icon
,.SocialIcons .github-icon  {
  color: #333;

}

.social-icons .linkedin-icon
,.SocialIcons .linkedin-icon {
  color: #0077B5;

}


/* Change Semester */

.ChangeSemester button {
  transition: var(--transition-btn);
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  padding: 1rem 3rem;
  border-radius: var(--border-rad);
  background: var(--linear-bg);

}

.ChangeSemester button a {
  color: var(--text-clr);
  font-weight: var(--font-size-p);
  font-size: var(--font-size-p);
}


footer{
  height: 40vh;
  width: 100%;
  margin-top: 10vh;
  background-color: var(--bg-footer);
  display: grid;
  justify-content: center;
  align-items: center;
  
}
footer  .SocialIcons
,footer .OtherLinks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap ;
}


footer .SocialIcons .instagram-icon
,footer .SocialIcons .github-icon 
,footer .SocialIcons .linkedin-icon{
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  transition: var(--transition-btn);
}


footer .OtherLinks a{
margin-left:3rem;
color: var(--text-clr);
font-size: var(--font-size-link);
font-weight: var(--font-weight-link);
transition: var(--transition-btn);
padding: 0.5rem;
border-radius: var(--border-rad);
background:var(--linear-bg);
}
footer .OtherLinks a:hover{
 opacity: var(--opacity-);
}

footer .Contact{
  display: flex;
  justify-content: space-around;
align-items: center;
}

footer .Contact .partOfContact{
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
border-bottom: 1px solid var(--bg-clr);
}

footer .Contact .partOfContact a{
  color: var(--text-clr);
  font-size: var(--font-size-link);
  font-weight: var(--font-weight-link);
}
footer .Contact  .partOfContact svg{
  color: var(--text-clr);
  width:2rem;
  transition: var(--transition-btn);
  }
  footer .Contact  .partOfContact svg:hover{
    opacity: var(--opacity-);
  }

footer .Contact .partOfContact span{
  color: var(--main-clr);
}

footer .copyright{
  text-align: center;

}
footer .copyright p{
  color:var(--text-clr);
  font-weight: var(--font-weight-title);
}



/* Start Animation */


/* Scan */

@keyframes scan {

  0% {
    width: 0;
    opacity: 1;
  }

  20% {
    width: 20vw;
    opacity: 0.5;

  }

  40% {
    width: 40vw;
    opacity: 0;
  }

  60% {
    width: 100vw;
    opacity: 1;
  }

  80% {
    width: 50vw;
    opacity: 1;
  }

  90% {
    width: 30vw;
    opacity: 1;
  }

  100% {
    width: 0;
    opacity: 1;
  }
}


/* showBtn */

@keyframes showBtn {

  0% {
    transform: rotateY(0);
  }


  20% {
    transform: rotateY(80deg);
  }


  40% {
    transform: rotateY(160deg);
    opacity: 0;
  }

  60% {
    transform: rotateY(250deg);
  }

  80% {
    transform: rotateY(300deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}



/* Paino  */
@keyframes Paino {

  0% {
    font-size: 2rem;
  }

  20% {
    font-size: 3rem;
  }

  30% {
    font-size: 4rem;
  }

  40% {
    font-size: 5rem;
  }

  60% {
    font-size: 6rem;
  }

  80% {
    font-size: 40rem;

  }

  100% {
    font-size: 10rem;
  }

}





/* showLetter*/

@keyframes showLetter {

  0% {
    font-size: 3rem;
  }

  40% {
    font-size: 2rem;
  }


  100% {
    font-size: 3rem;
  }

}

/* showAbout */

@keyframes showAbout {

  0% {
    scale: 1;
  }

  40% {
    scale: 1.4;
  }

  100% {
    scale: 1;
  }


}


/* showParagraph */

@keyframes showParagraph {

  0% {
      transform: rotateY(0);
      opacity: 1;

  }

  40% {
      transform: rotateX(60deg);
      opacity: 0.5;
  }

  80% {
      transform: rotateX(180deg);
      opacity: 0;
  }

  100% {
      transform: rotateY(360deg);
      opacity: 1;
  }
}



/* showCard */


@keyframes showCard {
  0%{
      opacity: 1;
      transform: rotateY(0);

  }
  20%{
      opacity: 0.5;
      transform: rotateY(10deg);

  }
  30%{
      opacity: 0.1;
      transform: rotateY(15deg);

  }

  100%{
      opacity: 1;
      transform: rotateY(0deg);
  }

}








/* showChoices */

@keyframes showChoices {
  0%{
      opacity: 1;
      transform: rotateX(-10deg);

  }
  20%{
      opacity: 0.5;
      transform:  rotateX(-20deg);
    

  }
  30%{
      opacity: 0.1;
      transform:  rotateX(-30deg);

  }

  100%{
      opacity: 1;
      transform:  rotateX(0deg);
   
  }

}


/*   showMenu   */



@keyframes  showMenu   {
  0%{
     width: 0;

  }
  33%{
     width: 30%;
    

  }
  66%{
    width: 60%;

  }

  99%{
    width: 80%;
   
  }

}





/* End Animation */