/* 
levels
*/


/* 
    Cards
*/


.cards
,.cards .card
,.cards .card .semesters{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

    .cards {
        perspective: var(--perspective);
        height: auto;
        gap: 2rem;
    }

    
/* 
    Card
*/
    .cards .card{  
        padding-top: 2rem;
        cursor: pointer;
         transform: var(--transform-style);
        margin: 3rem;
        height:24vh;
        width: 40vw;
        flex-flow: column;
        border-top: var(--border-top);
        border-bottom:var(--border-top) ;
        border-radius: var(--border-rad);
        transition: var(--transition-btn);
        animation: var(--animation-showCard);
       
    }




    .cards .card:hover{
        border-top:var(--border-left);
        border-radius:  4rem;
        
    }

    .cards .card h1{
        color: var(--text-clr);
        font-weight: var(--font-weight-p);
      }


    
/* 
   .semesters
*/


.cards .card
, .cards .card .semesters{
    flex-direction: column;
    gap: 1rem;
}

 

    .cards .card .semesters li{
        list-style: none;
        background:var(--linear-bg);
        width: 5rem;
        height: 1.6rem;
        border-radius: var(--border-rad);
        text-align: center;
        transition: var(--transition-btn);
    }

    
    .cards .card .semesters li:hover{
        scale: var(--scale-btn);
    }

    .cards .card .semesters li a{
        font-size: var(--font-size-p);
        font-weight:var(--font-weight-title);
        color: var(--text-clr);  
    }


/* 
    Plus
*/

    .cards #plus{
   height: 1.5rem;
   width: 1.5rem;
   fill: var(--main-clr);
   margin-left: 1rem;
   border-radius: var(--border-rad);
   border: var(--border-left);
transition: var(--transition-btn);
   
    }
    

    .cards  #plus:hover
    ,.cards  .specialty dd:hover
    ,.cards  .card .semester87910 dd:hover{
        scale: var(--scale-btn);
    }


    /* 
    Specialty
*/

    .cards  .specialty{
        animation-play-state: paused;
         display: none;
        overflow-y: scroll;
        height:20vh;
        width: 40vw;
        padding: 0 3rem;
        border-radius: var(--border-rad);
        border: var(--border-left);
        background-color: var(--btn-hover);
        animation: showspecialty 3s 0.1s forwards ease-in; 
    }

    @keyframes showspecialty{

        0%{
            height: 0;

        }
 30%{
    height: 5vh;     
        }
        60%{
            height: 13vh;   
        }
        100%{
            height: 20vh;     
        }
    }



  
    .cards  .specialty dt{
        margin-top: 1rem;
        cursor: pointer;
       transition: var(--transition-btn);
    }


    .cards  .specialty dt:hover
    ,.cards  .card .semester87910 dt:hover{
opacity: 0.8;
    }



    .cards  .specialty dd
    , .cards  .card .semester87910 dd{
        cursor: pointer;
        margin-top: 1rem;
        text-align: center;
       background: linear-gradient(  var(--text-clr),transparent);
        width: 5rem;
        height: 1.6rem;
        border-radius: var(--border-rad); 
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-p);
       line-height:1.5rem;
       color: var(--bg-clr);
       transition: var(--transition-btn);

    }



    .cards  .specialty  dd a
    ,.cards  .card .semester87910 dd a{
       
        color: var(--bg-clr);
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-p);
       line-height:1.5rem;
    }

    
  
/* 
   Semester87910
*/
    .cards  .card  .semester87910{
        overflow-y: scroll;
        display:grid;
        justify-content: center;
        align-items: center;
        flex-direction:column; 
    }

  
    .cards  .card .semester87910 dt {
        color: var(--btn-hover);
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-p);
       line-height:1.5rem;
       margin-top: 1rem;
       transition: var(--transition-btn);
    }


    /* 
  Social Icons
*/

    .social-icons {
        position: absolute;
        top: 1rem;
        left: 2rem;
        
    }


.social-icons .instagram-icon,
.social-icons .github-icon,
.social-icons .linkedin-icon {
margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    transform-style: var(--transform-style);
    transition: var(--transition-btn);
    animation: var(--animation-showAbout);
}





/*animation*/


@keyframes showBtn {

    0% {
        transform: rotateY(0);
    }


    20% {
        transform: rotateY(80deg);
    }


    40% {
        transform: rotateY(160deg);
        opacity: 0;
    }

    60% {
        transform: rotateY(250deg);
    }

    80% {
        transform: rotateY(300deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


@keyframes showAbout {

    0% {
        scale: 1;
    }

    20% {
        scale: 1.1;
    }

    50% {
        scale: 1.2;
    }

    70% {
        scale: 1.1;
    }


    100% {
        scale: 1;
    }


}


/*END*/



/* Responsive Code */

@media  (max-width:800px) {
    .cards .card
    , .cards .specialty{
        width: 60vw;
    }

    
    
}