/* 
levels
*/



/* Cards */
.cards{
    perspective: var(--perspective);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem; 
}


/* Card */

.cards .card {
transform-style:var(--transform-style) ;
    border-right: 1px solid var(--text-clr);
    border-bottom: 5px solid var(--text-clr);
    border-radius: var(--border-rad);
    width: 40vw;
    height:15vh;
    background-color: var(--btn-hover);
    border-radius:var(--border-rad);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    animation: var(--animation-showChoices);
    transition: var(--transition-btn);
    cursor:pointer;
    
}




.cards .card:hover{
    border-right: none;
    border-bottom: none;
    border: 8px solid var(--text-clr);

}



.cards .card h2 {
    text-align: center;
}

.cards .card h2 a{
    color: var(--bg-clr);
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-p);
    font-size: var(--font-size-p);
    transition: var(--transition-btn);
}

.cards .card h2 a:hover{
 opacity: var(--opacity-);

}
